aiohttp
aiofiles
cryptography
flask
httpx
Markdown
msgpack
nonebot2[fastapi]
nonebot-adapter-qq==1.7.1
nonebot_plugin_apscheduler
numpy
Pillow
psutil
pydantic
pygtrie
PySocks
requests
typing_extensions
ujson
wcwidth
wget
Werkzeug
yarl
yt-dlp
